<div class="deck">
  <button {{action "drawCard"}}
    data-test="draw-card-btn">
    {{t "components.deck.drawCTA"}}
  </button>
  <p class="card-count"
    data-test="deck-card-count">
    {{deck.cardCount}}
  </p>
</div>
