<div class="deck-container">
  <button {{action "drawCard"}}
    data-test-selector="draw-card-btn">
    Draw a card
  </button>
  <p class="card-count"
    data-test-selector="deck-card-count">
    {{deck.cardCount}}
  </p>
</div>
